@charset "UTF-8";

html, body, div, span, iframe,
 h1, h2, h3, h4, h5, h6, p, blockquote,
 pre, img, small, strong, sub, sup, var, b,
 i, dl, dt, dd, ol, ul, li, fieldset, form, label,
  legend, table, caption, tbody, tfoot, thead, tr, th, td,
   article, aside, footer, header, nav, section {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'メイリオ',Meiryo,'ヒラギノ角ゴ Pro W3','Hiragino Kaku Gothic Pro','ＭＳ Ｐゴシック',sans-serif;
    margin:0 auto;
	max-width:80%;
}

li{
	list-style:none;
}

a{
	text-decoration:none;
}

#body{
	margin:0 auto;

}

/*header*/

.header-logo{
	border-top:4px solid #004dbd;


}

#size{
	height:60px;
	width:115.59px;
	margin:15px 15px;
}

.header-logo img{
	float:left;
	margin:30px 0 0;
}

.header-lang-j{
	float:right;
	margin:10px 0;
	font-size:12px;
}

.header-lang{
	float:right;
	margin:10px;
}

.header-search{
	clear:right;
	float:right;
	margin:0 15px;
	font-size:14px;
}

.search{
	background:#dcdcdc;
	border:1px solid #c8c8c8;
	height:20px;
	width:180px;
}

.header-menus{
	float:left;

}

.header-menu{
	margin:5px 15px 20px;
	float:left;
	font-weight:bold;
}

.current{
	padding:10px 8px;
	background:#f2f0f0;
	font-size:12px;
	clear:both;
}
.current img{
	height:20px;
	width:20px;
	float:left;
}

/*main*/

.main{
width:70%;
}

.overview{
margin:40px 5px 30px;
padding-bottom:20px;
border-bottom:3px solid #004dbd;
}

.overview p{
font-size:18px;
}

.content{
height:60px;
border-bottom:1px solid #dcdcdc;

}

.ov-contents{
font-size:14px;
margin-top:20px;
margin-left:15px;
width:90px;
float:left;
}

.ov-description{
font-size:13px;
margin-top:20px;
margin-left:60px;
float:left;
}

.content2{
height:100px;
border-bottom:1px solid #dcdcdc;

}

.ov-contents2{
font-size:14px;
margin-top:30px;
margin-left:15px;
width:90px;
float:left;
}

.ov-description2{
font-size:13px;
margin-top:30px;
margin-left:60px;
float:left;
}

/*sidebar*/
